<div id="customize-this" tabindex="-1" class="fixed-bottom">
	<div class="container-fluid">
		<button id="apply-color" class="btn btn-success pull-right">Apply</button>
		<form class="row-fluid" style="margin-bottom: 0;" action="/apply" method="post">
			<div class="span3"/>
			<div class="span2">
				<label for="base-color">Base</label>
				<input type="text" id="base-color" name="baseColor" class="input-small color-code" value="{{baseColor}}" style="background-color: {{baseColor}};"/>
			</div>
			<div class="span2">
				<label for="main-color">Main</label>
				<input type="text" id="main-color" name="mainColor" class="input-small color-code" value="{{mainColor}}" style="background-color: {{mainColor}};"/>
			</div>
			<div class="span2">
				<label for="accent-color">Accent</label>
				<input type="text" id="accent-color" name="accentColor" class="input-small color-code" value="{{accentColor}}" style="background-color: {{accentColor}};"/>
			</div>
			<div class="span3"/>
		</form>
		<div id="dribbble-colors" class="row-fluid">
		</div>
		<div id="dribbble-shots" class="row-fluid">
			<div id="dribbble-shots-carousel">
			</div>
			<div class="clearfix"></div>
    		<a id="shots-prev"  class="prev left carousel-control" href="#">&lsaquo;</a>
		    <a id="shots-next" href="#" class="next right carousel-control">&rsaquo;</a>
		</div>
	</div>
</div>